.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  width: 100vw;
}

.orders {
  width: 50%;
}

.ordersList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.orderItem {
  display: grid;
  grid-template-columns: 1fr 6rem;
  grid-template-rows: 1fr 1fr 1fr;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  padding: 15px;
  color: black;
}

.orderItem:hover {
  border: 1px solid #e85d04;
}

.orderNumber {
  font-size: 1.1rem;
  font-weight: 700;
}

.orderValue {
  font-weight: 700;
}

.orderValue,
.orderStatus {
  grid-row: 3;
  vertical-align: middle;
}

.orderValue {
  align-self: center;
}

.orderStatus {
  text-align: center;
}

.orderAddress {
  grid-row: 2;
}

.pendingOrder {
  color: black;
  background-color: rgb(233, 233, 64);
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.deliveredOrder {
  color: black;
  background-color: rgb(0, 197, 0);
  padding: 0.5rem;
  border-radius: 0.2rem;
}

@media only screen and (max-width: 600px) {
  .ordersList {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 900px) {
  .ordersList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1500px) {
  .ordersList {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
