* {
  margin: 0;
  padding: 0;
}

#sideBar {
  background-color: black;
<<<<<<< HEAD
  height: 100%;
  left: -24%;
  position: fixed;
=======
  margin-top: 80px;
  height: 67%;
  left: -24%;
  /* position: fixed; */
  width: 0px;
}

#sideB {
  background-color: black;
  margin-top: 80px;
  height: 67%;
  left: -24%;
  /* position: fixed; */
>>>>>>> 67290b957dc196198b362b2ea3a09d428b7ce878
  width: 24%;
}

#sideBar.active {
<<<<<<< HEAD
  left: 0;
=======
  width: 24%;
}

#sideB.active {
  width: 0px;
>>>>>>> 67290b957dc196198b362b2ea3a09d428b7ce878
}

#sideBar li {
  border-bottom: 1px solid gray;
  color: white;
  font-size: 30px;
<<<<<<< HEAD
  padding: 30px;
=======
  padding: 20px;
  text-align: center;
}

#sideB li {
  border-bottom: 1px solid gray;
  color: white;
  font-size: 30px;
  padding: 20px;
>>>>>>> 67290b957dc196198b362b2ea3a09d428b7ce878
  text-align: center;
}

.toggle-btn {
<<<<<<< HEAD
  left: 105%;
=======
  left: 25%;
>>>>>>> 67290b957dc196198b362b2ea3a09d428b7ce878
  position: absolute;
  top: 15px;
}

.toggle-btn span {
  background-color: black;
  display: block;
  height: 5px;
  margin: 3px;
  width: 30px;
}

a {
  text-decoration: none;
}
