.card-body {
  align-items: center;
  border: 1px solid black;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 230px;
  margin-top: 50px;
  text-align: center;
  width: 168px;
}

.card-body img {
  height: 50px;
  margin: 0;
  padding: 0;
  width: 50px;
}

.product-title {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  width: inherit;
}

.product-card-panel {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: inherit;
}
