.containerOrders {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  width: 100vw;
  margin: 0 auto 50px;
}

.products {
  width: 100%;
}
