.containerOrders {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
  flex-direction: column;
  width: 50vw;
  margin: 200px auto 50px;
}

.products {
  width: 50%;
}

