.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  width: 230px; 
  height: 300px;
  border: 3px solid rgb(136, 126, 126);
  padding: 15px;
}

.card-img {
  max-width: 160px;
  max-height: 200px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 10px;
}
