.TopHamburgerToggle {
    align-items: center;
    border: 1px solid red;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    height: 20px;
    justify-content: space-between;
    padding: 10px 0;
    width: 40px;
  }

.TopHamburgerToggle div {
  background-color: white;
  height: 2px;
  transition: all 0.4s linear;
  width: 30px;
}