.cartItem {
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  width: 75vw;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
}

.cartItem:hover {
  border: 1px solid #e85d04;
}

.cartItemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cartItemRightContainer {
  display: flex;
  flex-direction: column;
}

.cartItemLeftContainer {
  height: 120px;
  justify-content: flex-start;
}

.unitaryPrice {
  font-size: 0.7rem;
}

@media (min-width: 800px) {
  .cartItem {
    width: 450px;
  }
}
