.container {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.pageTitle {
  font-size: 25px;
  font-family: Roboto condensed;
  text-transform: uppercase;
}

.cheesIcon {
  width: 80px;
}

.form-group {
  margin: 15px 0;
}

.label-text {
  font-family: Roboto, sans-serif;
  font-weight: 800;
}

.input-field {
  border: 2px solid #0f0f0f;
  border-radius: 4px;
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  height: 25px;
  margin: 5px auto;
  padding-left: 10px;
  width: 270px;
}

.input-field::placeholder {
  color: #5e5e5e;
}

.input-field:focus {
  background-color: #fca311;
  color: white;
}

.input-field:focus::placeholder {
  color: white;
}

.input-field:read-only:focus {
  background-color: white;
}

.input-field:read-only::placeholder {
  color: #5e5e5e;
}

.save-button {
  align-items: center;
  display: flex;
  background-color: #fca311;
  border: none;
  color: #e5e5e5;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  height: 30px;
  justify-content: center;
  margin: 30px auto 0;
  width: 100px;
}

.save-button:disabled {
  background-color: #e5e5e5;
  color: #383737;
}

.square {
  align-items: center;
  border-radius: 7px;
  box-shadow: 1px 1px 40px 6px #414141;
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: center;
  width: 300px;
}

@media screen and (min-width: 650px) {
  .square {
     height: 100vh;
     width: 100vh;
     box-shadow: 1px 1px 1px 1px white;
  }

  .input-field {
    width: 70vh;
  }
}
