.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.square {
  align-items: center;
  align-self: center;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: center;
  width: 300px;
}

.pageTitle {
  font-size: 25px;
  font-family: Roboto condensed;
  text-transform: uppercase;
}

.cheesIcon {
  width: 80px;
}

.form-group {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.label-text {
  font-family: Roboto, sans-serif;
  font-weight: 800;
}

.input-field-profile {
  border: 2px solid #0f0f0f;
  border-radius: 4px;
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  height: 40px;
  margin: 5px auto;
  padding-left: 10px;
  width: 270px;
}

.input-field-profile::placeholder {
  color: #5e5e5e;
}

.input-field-profile:focus {
  background-color: #fca311;
  color: white;
}

.input-field-profile:focus::placeholder {
  color: white;
}

.input-field-profile:read-only:focus {
  background-color: white;
}

.input-field-profile:read-only::placeholder {
  color: #5e5e5e;
}

.save-button-profile {
  align-items: center;
  display: flex;
  background-color: #fca311;
  border: none;
  border-radius: 4px;
  color: #e5e5e5;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  margin: 30px auto 0;
  width: 72vh;
}

.save-button-profile:disabled {
  background-color: #e5e5e5;
  color: #383737;
}

@media screen and (min-width: 650px) {
  .square {
     height: 100vh;
     width: 100vh;
  }

  .input-field-profile {
    width: 70vh;
  }
}
