.header-container {
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  display: flex;
  pointer-events: none;
  height: 100%;
}

.header-container button, .header-container a {
  pointer-events: initial;
}

.header-container > header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(45deg, #4d4d4d 0%,#282828 30%,#242424 100%);
  color: white;
  padding: 8px 0px;
  box-shadow: 0px 5px 20px rgba(182, 0, 0, 0.473);
  border-bottom: 3px solid rgb(177, 23, 23);
}

.header-container .duff-logo {
  display: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.header-title {
  font-size: large;
  margin-right: 15px;
  word-spacing: 5px;
  font-family: akbar;
}

.header-menu-icon {
  background-color: transparent;
  border: none;
}

.header-menu-icon > img {
  width: 40px;
  filter: drop-shadow( 2px 2px 6px rgb(51, 0, 0));
}

.header-menu-icon > img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.header-menu-icon > img:active {
  filter: drop-shadow( 2px 2px 6px rgb(255, 0, 0));
}

.side-container {
  display: flex;
  height: 100%;
  width: 100%;
  transition: transform;
  transition-duration: 0.5s;
  transform: translateX(-300px);
}

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: -2.5px;
  padding: 15px 0;
  width: 100%;
  height: 100% + 3px;
  background: linear-gradient(45deg, #4c4b4b 0%,#4c4b4b 30%,#444444 48%,#4c4b4b 64%,#4c4b4b 72%,#363636 100%);
}

.side-container.appear {
  transform: translateX(0px);
}

.side-bar > div {
  display: flex;
  flex-direction: column;
}

.side-bar a {
  text-align: center;
  margin: 15px 0;
  text-decoration: none;
  color: white;
}

.side-bar a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 300px) {
  .side-container {
    width: 200px;
  }
  .side-bar {
    border-right: 3px solid rgb(177, 23, 23);
    box-shadow: 5px 20px 20px rgba(182, 0, 0, 0.473);
  }
}

@media screen and (min-width: 600px) {
  .header-container .duff-logo {
    display: initial;
    width: 60px;
  }
}

@keyframes side-bar{
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0px);
  }
}
