.orders-listA {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: -2px;
  text-decoration: none;
}

.margin {
  padding-left: 200px;
  padding-top: 54px;
  flex: 1;
}

.margin > h1 {
  text-align: center;
}

.orders-card {
  background: linear-gradient(45deg, #4d4d4d 0%,#282828 30%,#242424 100%);
  text-decoration: none;
  border-style: groove;
  box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.466);
  color: white;
  display: flex;
  flex-direction: column;
  flex: 0 1 45%;
  height: 90px;
  justify-content: center;
  margin: 0.3em;
  overflow: hidden;
  padding: 0.3em;
}

.element-orders {
  font-size: medium;
}

.first-part {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.first-part > * {
  margin: auto;
  flex: 0 1 30%;
}

.entregue {
  color: green;
}

.pendente {
  color: yellow;
}

@media screen and (max-width: 1000px) {
  .orders-card {
    height: 150px;
    width: 90%;
  }
  .margin {
    padding-left: 200px;
  }
}
