.profile.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.profile.form {
  flex: 1; 
}

.duff-beer {
  display: none;
}

@media screen and (min-width: 600px) {
  .duff-beer {
    display: initial;
    position: absolute;
    width: 20%;
    bottom: 50px;
    right: 50px;
    transform: rotate(15deg);
  }
}
