.mobile-footer {
  align-items: center;
  align-self: flex-end;
  display: flex;
  height: 67px;
  justify-content: center;
  margin: 10px 0;
  top: 90%;
  width: 100%;
}

.mobile-footer button {
  background-color: #1cd118;
  border: none;
  height: 40px;
  width: 332px;
}
