.title {
  align-items: center;
  background-color: #24252a;
  display: flex;
  flex-direction: column-reverse;
  height: 80px;
  /* position: fixed; */
  width: 100%;
}

.titleh1 {
  color: #fff;
  /* text-transform: uppercase; */
}

/* header {
  position: fixed;
} */

.headerdiv {
  display: flex;
  flex-direction: column;
}
