.menuHeader {
  align-items: center;
  background-image: url('../assets/imgs/bricks.jpg');
  border-bottom: 3px solid rgb(255, 204, 0);
  display: flex;
  height: 130px;
  justify-content: space-between;
  padding: 0 8rem;
  width: 100%;
}

.menuNav {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}

.menuNav button {
  font-size: 2.3rem;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 900;
  letter-spacing: 0.2rem;
  color: rgb(225, 204, 0);
  text-shadow: 0 0 1rem #fa0a36;
  transition: all 0.3s;
}

.menuNav button:hover {
  text-shadow: 0 0 2vw #fcd5dc;
}

.title {
  animation: neon 1s ease-in infinite;
  color: rgb(225, 204, 0);
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  letter-spacing: 0.3rem;
  line-height: 9vw;
  margin-bottom: 15px;
  text-decoration: underline;
  text-shadow: 0 0 2vw #ff002f;
}

.hamburguer {
  align-items: center;
  background-color: rgb(255, 204, 0);
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 3vw #ff002f;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 150px;
}

.hamburguer:after {
  background: currentColor;
  border-radius: 2px;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
  content: '';
  display: block;
  height: 2.5px;
  width: 2rem;
}

.menuContainer {
  align-items: center;
  background-color: rgb(255, 204, 0);
  background-image: url('../assets/wave.svg');
  background-size: contain;
  background-position: center;
  border-bottom: 2px solid rgb(30, 30, 30);
  display: flex;
  justify-content: space-between;
  padding: 1rem 20rem;
  width: 100%;
}

.menuBtn {
  background: none;
  border: none;
  color: rgb(30, 30, 30);
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 900;
}

.menuBtn:after {
  background: currentColor;
  border-radius: 2px;
  content: '';
  display: block;
  height: 2px;
  width: 3rem;
}

@media (max-width: 40rem) {
  .menuHeader {
    padding: 0 2rem;
  }
  .title {
    font-size: 3rem;
  }
  .hamburguer {
    height: 40px;
    width: 60px;
  }
  .hamburguer:after {
    width: 1.5rem;
  }
  .menuContainer {
    padding: 1rem 2rem;
  }
  .menuBtn {
    font-size: 1rem;
  }
  .menuBtn:after {
    width: 1.5rem;
  }
  .menuNav button {
    font-size: 1.1rem;
    margin: 0;
  }
  .menuNav {
    width: 45%;
  }
}
