.containerCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

.footerCart {
  display: flex;
  justify-content: space-between;
  bottom: 0;
  position: fixed;
  width: 100%;
  background: rgb(202, 196, 196);
  margin: 50px auto 0;
  padding: 20px;
}
