.clientDiv,
.adminDiv {
  align-items: center;
  background-color: white;
  border: 1px solid rgb(255, 204, 0);
  display: flex;
  justify-content: center;
  min-height: 86vh;
  width: 80%;
}

.adminDiv {
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.clientForm {
  align-items: flex-start;
  border-left: 3px solid rgb(30, 30, 30);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 3rem 0 3rem 4rem;
  width: 50%;
}

.clientForm label {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.clientForm input {
  border-radius: 10px;
  border: 2px solid rgb(255, 166, 0);
  font-size: 2rem;
  height: 50px;
  margin-bottom: 4rem;
  padding-left: 1rem;
  width: 100%;
}

.clientForm button {
  background-color: rgb(255, 204, 0);
  border-radius: 10px;
  color: rgb(30, 30, 30);
  cursor: pointer;
  font-size: 2rem;
  height: 50px;
  letter-spacing: 0.2rem;
  transition: all 0.3s;
  width: 300px;
}

.clientForm button:hover {
  background-color: rgb(255, 166, 0);
}

.subDiv {
  align-items: flex-start;
  border-left: 3px solid rgb(30, 30, 30);
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-evenly;
  margin-top: 5rem;
  padding-left: 2rem;
  width: 60%;
}

.subDiv h1 {
  font-size: 3rem;
}

.subDiv h3 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}

@media (max-width: 40rem) {
  .clientDiv,
  .adminDiv {
    width: 100%;
  }

  .clientForm {
    align-items: center;
    border-left: none;
    padding: 0;
    width: 85%;
  }
  .clientForm label {
    font-size: 3rem;
  }
  .clientForm input {
    font-size: 2rem;
    text-align: center;
  }
  .clientForm button {
    margin-top: 3rem;
  }
  .subDiv {
    width: 90%;
  }
  .subDiv h3,
  .subDiv h1 {
    font-size: 2rem;
  }
}
