.header-title {
  align-items: center;
  background-color: #24252a;
  display: flex;
  flex-direction: column-reverse;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.title {
  color: #fff;
  text-shadow: 0 0 20px #ff005b;
  text-transform: uppercase;
}

/* header {
  position: fixed;
} */

.container-header {
  display: flex;
  flex-direction: column;
}
