.loginContainer {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.inputLabel {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.loginInput {
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  padding: 10px 0px;
  width: 100%;
}

.submitBtn {
  background-color: #1cd118;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  padding: 10px 0px;
  transition: 0.5s;
  width: 100%;
}

.submitBtn:hover {
  background-color: #18b816;
}

.submitBtn:disabled {
  cursor: initial;
}

.noAccountBtn {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  display: block;
  padding: 10px 0px;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
  width: 15rem;
}

.noAccountBtn:hover {
  background-color: rgb(233, 233, 233);
}

.loginForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
}

.fieldsContainer {
  width: 100%;
}
