.card {
  padding: 0 10px 0 10px;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 200px;
}

.card-name {
  font-weight: 700;
}

img {
  height: 80px;
  margin: 15px auto 25px auto;
  width: 80px;
}

.qtt-buttons {
  font-size: 1.4rem;
  display: flex;
  height: 37px;
  margin: 15px;
  justify-content: space-around;
}
