.profileContainer {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.profileForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
}

.profileFieldsContainer {
  width: 100%;
}
