.profileContainer {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.profileInput {
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  padding: 10px 0px;
  width: 100%;
}

.profileForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
}

.profileFieldsContainer {
  width: 100%;
}
